<h1>スターティングメンバー</h1>
<%= link_to "スタメンを発表する", new_member_path, class:"post" %>

<div class="contents row">
  <% @members.each do |member| %>
    <div class="content_post">
      <p>|1(<%= member.position.name %>) <%= member.name.name %>|
    </div>
  <% end %>
</div>